
$color:(
    "grey": #5A607F,
    "white": #FFF,
    "dark": #000,
    "blue": #0575D4,
);

$text-color:(
    "grey":#5A607F,
    "white": #FFF,
    "dark": #000,
);

$primary-color:(
    "normal": #0575D4,
)