.client-page{
    text-align: center;
    .client-page__select{
        text-align: center;
        margin-bottom: 1rem;
        span{
            font-size: 1.4rem;
        }
    }
    .p-datatable-table{
        font-size: 1.4rem;
    }
}